version: '3.4'

services:
  frontend:
    build:
      target: testCerts
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Password=$Password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/Certs/frontend.pfx
    volumes:
      - ./Certs:/Certs
  backend:
    build:
      target: testCerts
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Password=$Password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/Certs/backend.pfx
    volumes:
      - ./Certs:/Certs
